:root {
    --blue: #32AFB2;
    --heading:#313844;
    --paragraph:#555E70;
    --main: "Lato", sans-serif;
    --headings:"Raleway", sans-serif;
    --mono: "Fira Mono", monospace;
}  
html {
  box-sizing: border-box;
  
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* Main code */
body {
  font-family: var(--headings);
  color: var(--paragraph);
  
}

h1{
  text-transform: uppercase;
  color: var(--blue);
  font-weight: 400;
}
h1:hover, 
h2:hover {
  font-weight: 600;
}
h1, h2, h3,h4{
  font-family: var(--headings);
  font-weight: 400;
  cursor: pointer;
}

h2 {
  color: var(--paragraph);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom:1px solid var(--paragraph) ;
}
h3 {
  color: var(--blue);
  font-weight: 600;
}
h4{
  font-weight: 600;

}
header {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem;

 
}
.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;  
  width: 80%;
}
.container {
  display: flex;
  flex-direction: none;
}
.container-1 {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Container-1 classes */
.get-in-touch{

}
.get-in-touch-details{
  color: var(--blue);
}
.get-in-touch-details ul{
  list-style-type: none;
  padding-left: 0;
}
.get-in-touch-details li{
  margin-bottom: 0.5rem;
  color: var(--blue);
  font-weight: 600;
}
.get-in-touch-details li p,a {
  color: var(--paragraph);
  margin-left: 1rem;
  font-weight: 400;
}
a:hover{
  color: var(--heading);
  font-weight: 500;
}


.specializations{
}

 ul li {
  margin: 0.5rem 0 0.5rem 0;
  color: var(--paragraph);
  font-weight: 500;
}
.specializations-details ul li ul li{
  font-weight: 300 thin;
  font-style: italic;
}
.languages{
}

/* Container-2 classes */
.container-2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0 1em 1em;
}


/* ************** */
/* Helper classes */
/* ************** */
.justify{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen {
  
}